[Unit]
Description=SonarQube service
After=syslog.target network.target

[Service]
Type=simple
User={{ sonar_username }}
Group={{ sonar_username }}
PermissionsStartOnly=true
ExecStart=/usr/bin/nohup /usr/bin/java -Xms32m -Xmx32m -Djava.net.preferIPv4Stack=true -jar /opt/{{sonar_dir}}/lib/sonar-application-{{sonar_version}}.jar
StandardOutput=syslog
LimitNOFILE=65536
LimitNPROC=8192
TimeoutStartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
